{% extends "layouts/base.html" %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, nam enim. Non illo quod odio cum sapiente expedita deserunt ex eos, enim cupiditate explicabo! Accusantium mollitia illo officia cupiditate vero ab eos nobis dolor alias accusamus ratione doloribus rem inventore exercitationem sint excepturi aperiam ducimus adipisci corporis doloremque earum nihil, harum pariatur. Esse eius nisi pariatur adipisci quod optio quae aspernatur tempore eos, dicta facere neque suscipit cum repellat placeat maxime, expedita distinctio, culpa eligendi. Repudiandae maiores esse numquam ad alias voluptate impedit ratione autem ipsum earum! Itaque nobis iste id quidem, modi excepturi quam tempora sed iure neque autem.</p>

<p>Website created by {{ username }}</p>

{% endblock %}